[Unit]
Description=Run PhoneTap20 main script at startup
After=sound.target

[Service]
ExecStart=/home/admin/PhoneTap20/venv/bin/python -m src --startup
User=root
WorkingDirectory=/home/admin/PhoneTap20
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=default.target
